p{
	text-indent: 40px;
}

table{
	width: 100%;
}

strong{
	padding-left: 40px;
}

ol{
	padding: 0;
	margin: 0;
	list-style: lower-latin;
}

ol li{
	text-indent: 40px;
}

#main{
	text-align: justify;
}

p.align-right{
	text-align: right;
}

p.align-center{
	text-align: center;
}

div.graphic{
	text-align: center;
	width: 100%;
}

div.graphic p{
	text-indent: 0px;
	margin: 0;
	padding: 0;
}












































































